.chatBox {
    background-color: #7798ad;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.botMessage {
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 2%;
    margin-left: 2%;
    background-color: #B9848C;
    max-width: 30%;
    max-height: 40%;
    border-radius: 10px;
    min-height: 5%;
    padding: 1%;
    overflow-y: auto;
    font-size: 1vw;
}

.containerClient{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.clientMessage {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2% !important;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 2%;
    margin-left: 2%;
    background-color: #2F70AF;
    max-width: 30%;
    border-radius: 10px;
    min-height: 5%;
    padding: 1%;
    max-height: 40%;
    overflow-y: auto;
    font-size: 1vw;
}

.choice {
    display: flex;
    align-items: center;
    justify-items: center;
    color: white;
    float: right;
    margin-right: 2% !important;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
    margin-top: 2%;
    margin-left: 2%;
    background-color: #2F70AF;
    max-width: 30%;
    border-radius: 10px;
    min-height: 70%;
    padding: 1%;
    max-height: 70%;
    font-size: 1vw;
}

.containerChoice{
    width: 100%;
    height: 5%;
    font-size: 1vw;
}

.anotherChoice{
    display: flex;
    align-items: center;
    justify-items: center;
    color: white;
    float: right;
    margin-right: 2% !important;
    margin-top: 2%;
    margin-left: 2%;
    max-width: 60%;
    border-radius: 10px;
    min-height: 5%;
    padding: 1%;
    max-height: 40%;
    overflow-y: auto;
    font-size: 1vw;
}

