.profile {
    background-color: #7798ad;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}

.salutation {
    grid-column: 1/2;
    min-width: 50%;
    text-align: start;
    margin-bottom: 1%;
}

.hi {
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
    margin-top: 2%;
    margin-left: 2%;
    background-color: #B9848C;
    max-width: 40%;
    max-height: 90%;
    border-radius: 10px;
    padding: 1%;
    overflow-y: auto;
    font-size: 1vw;
}

.clementDescription {
    grid-column: 1/2;
    text-align: start;
}

.descriptionBubble {
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
    margin-left: 2%;
    background-color: #B9848C;
    max-width: 90%;
    max-height: 60%;
    border-radius: 10px;
    padding: 1%;
    min-height: 40%;
    overflow-y: auto;
    font-size: 1vw;
}

.containerClientMessageBot{
    grid-column: 2 / 2;
    grid-row: 2/2;
    text-align: end;
    display: flex;
    align-items: end;
    justify-items: end;
    
}


.clientMessageBot{
    
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: #2F70AF;
    max-width: 90%;
    max-height: 60%;
    border-radius: 10px;
    padding: 1%;
    min-height: 40%;
    overflow-y: auto;
    font-size: 1vw;
    margin-left: 2%;
}

.linkEpitech{
    text-decoration: none;
    color: white;
    position: relative;
}

.linkEpitech:hover{
    color: white;
}

.linkEpitech::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.linkEpitech:hover::before {
    transform: scaleX(1);
  }

.close{
    position: absolute;
    right: 10%;
    top: 16%;
    font-size: 1vw;
    color: white;
    cursor: pointer;
}

.close:hover{
    color: #B9848C;
}