.navbar {
    height: 6vh;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 80%;
    padding-left: 1vh;
}

.categories {
    display: flex;
    height: 100%;
    width: 30%;
    padding-right: 1vh;
    justify-content: space-around;
    align-items: center;
}

.list {
    margin-right: 0.3vw;
    text-decoration: none;
    color: #B9848C;
}

.resume {
    color: #B9848C;
    background-color: transparent;
    border: 1px solid #B9848C;;
    border-radius: 10px;
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-left: 15px;
    font-size: var(--fz-xs);
}

.resume:hover{
    background-color: #B9848C;
    opacity: inherit
    
}

.resumeText{
    text-decoration: none;
    color: white;
}

.section {
    text-decoration: none;
    color: white;
    opacity: 100%;
}

.section:hover {
    color: #B9848C;
}

