.navbar {

    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    background-color: #00457E;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 9999; 
    width: 10%; 
    height: 100%;

}

.logo {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoAsset {
    min-height: 30px;
    height: 40%;
}

.categories {
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
}

svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

svg:hover {
    fill: #B9848C;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0; 
    margin: 0;
  }